
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

 /* shared styles */
 .display-flex{
  display: flex;
 }
:root{
  --primary-color: rgb(58, 58, 58);
  --bnt-color: rgba(224, 44, 109, 1);
}
.primary-btn{
  padding: 10px 24px;
  border-radius: 41px;
  background-color: var(--bnt-color);
  color: white;
  border: none;
  font-weight: bold;

}

 /* nav style  */
 header{
  max-width: 1200px;
  margin: 80px auto;
 }
 .brand{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
 }
 nav{
  align-items: center;
  justify-content: space-between;
 }
nav li{
  font-weight: 600;
  list-style: none;
}
nav a{
  text-decoration: none;
  color: var(--primary-color);
  padding: 0 15px;

}

/* banner style  */
.banner{
  justify-content: space-between;
}
.banner-text{
  max-width: 580px;
  margin-top: 145px;
}
.banner-title{
  font-size: 3.0rem;
  font-weight: 700;
  margin: 0 0 16px 0;
}
.banner-description{
  font-weight: 600px;
}

.banner-img{
  margin-top: 50px;
  max-width: 475px;
  max-height: 475px;
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-img img{
  width: 100%;
}
/* banner section  */
main{
  max-width: 1200px;
  margin: 100px auto;
}
/* sponsors section  */
.sponsors{
  justify-content: space-around;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, white, rgb(220, 219, 219), white) 1;
  padding: 36px;
  margin: 0 45px;
}
.sponsors img{
  width: 80px;
}

/* popular collection */
.popular-collection{
  margin-top: 100px;
  max-width: 1047px;
  
}
.collection-title{
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 50px;

}

/* card style  */
.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.card{
  width: 329px;
  padding: 14px;
  border-radius: 16px;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, .1);
  
}
.card img{
  width: 100%;
}
.card-title{
  font-size: 1.5rem;
  margin-bottom: 6px;
  color: rgba(24, 25, 31, 1);
}
.card-price{
  font-size: 1.2rem;
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
}
#rating{
  width: 125px;
}
.box-descripton{
  font-weight: 700;
  font-size: 0.85rem;
  margin-top: 0;
  color: rgba(120, 120, 133, 1);
}
.see-more{
  color:rgba(224, 44, 109, 0.87) ;
  text-align: right;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 0;
}

/* featured products */
.featured-products{
  margin-top: 100px;
  gap: 96px;
}
.feature-title{
  font-size: 2.4rem;
  font-weight: 700;
}
.feature-description{
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-color);
  max-width: 510px;
}
.feature-btn{
  border-radius: 0;
  font-size: 1.2rem;
}
.featured-products{
  text-align: center;
}

/* Footer section  */
footer{
  background-color: rgba(10, 8, 38, 1);
  display: flex;
}
.footer-box{
  color: white;
  margin: 50px auto;
  text-align: center;
}
.footer-title{
  font-size: 1.6rem;
  font-weight: 700;
}
.footer-description{
  font-size: .9rem;
}
.social-icon{

  gap: 16px;
}

.social-icon i{
  font-size: 32px;
  margin-right: 16px;
}



/* responsive for max-576px  */
@media screen and (max-width:576px) {
  nav, nav ul {
    flex-direction: column;
  }
  .banner , .featured-products{
    flex-direction: column-reverse;
    margin: 20px;
  }
  .banner-text{
    text-align: center;
  }
  .banner-title{
    font-size: 2.2rem;
  }
  .sponsors{
    flex-wrap: wrap;
    justify-content: center;
    padding:0 ;
  }
  .sponsors img{
  width: 50px;
  margin:10px 20px;
}
.card-container{
  /* grid-template-columns: 1fr; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.see-more{
  margin-right: 50px;
}
.feature-img img{
  width: 100%;
}
  
}
